 <div class="resetPassword">
     <h1 class="heading">Reset Password</h1>
     <form action="" method="" class="resetPasswordForm">

       <input type="email" name="email" required="true" placeholder="enter email" class="email"/>
        <input type="button" value="Send otp" class="formBtn" id="sendEmail"/>
     

       <input type="password" name="password" required="true" placeholder="enter new password"  class="password"/>
       <input type="text" name="otp" required="true" placeholder="enter otp" class="receivedOtp"/>
       <input type="submit" value="Change Password" class="formBtn" id="changePassword"/>
     
     </form>
   </div>
   
   <!-- 
   <script src="../js/forgotPass.js"></script>
   -->